{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb - Appointment</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
</head>
<body>
    <div class="square">
        <nav class="navbar navbar-expand-lg navbar-light" style="height: 12%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="/experiences">Experiences</a>
                    <a class="nav-item nav-link active" href="/achievements">Achievements</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <a class="nav-item nav-link active" href="/appointment">Appointment<span class="sr-only">(current)</span></a>
                    <a class="navbar-brand" href="/landing">
                        <img class="logo2" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </nav>
        
        <div class="kotak2">
            <h2> MAKE AN APPOINTMENT </h2>
       </div>
       <div class="card" style="width: 55%">
            <div class="card-body">
                    <form class="css" action="{% url 'appointment_create' %}" method="post">
                            {% csrf_token %}
                            <div class="form-row">
                                <div class="col-sm-1"></div>
                                <div class="form-group col-sm-10">
                                    {% for fields in form %}
                                        {{ fields.label_tag }}
                                        <br>
                                        {{ fields }}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-sm-1"></div>
                                <input type="submit" class="btn btn-primary float-right" value="Submit">
                            </form>  
