{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb - Appointment</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
</head>
<body>
    <div class="square">
        <nav class="navbar navbar-expand-lg navbar-light" style="height: 12%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="/experiences">Experiences</a>
                    <a class="nav-item nav-link" href="/achievements">Achievements</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <a class="nav-item nav-link active" href="/appointment">Appointment<span class="sr-only">(current)</span></a>
                    <a class="navbar-brand" href="/landing">
                        <img class="logo2" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </nav>
        
        <div class="kotak2">
            <h2> MAKE AN APPOINTMENT </h2>
       </div>
       <div class="card" style="width: 55%">
            <div class="card-body">
                <div class="row">
                {% for appointment in appointments %}
                <div class="col-sm-4 text-left">
                    <h6>{{ appointment.name }}</h6>
                    <p>{{ appointment.date.date }}</p>
                    <p>{{ appointment.time}}</p>
                    <p>{{ appointment.activity}}</p>
                    <p>{{ appointment.place }}</p>
                    <p>{{ appointment.category }}</p>
                    <div class = 'form-group'>
                            <form action="/appointment/clear/{{ appointment.id }}/" method="POST">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                    </div>
                </div>
                {% endfor %}
                </div>
            <div class = 'col-md-12'>
                        <a href="create/"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
  
            </div>
            </div>
       </div>
    </div>
</body>
</html>