{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb - Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
</head>
<body>
    <div class="square">
        <nav class="navbar navbar-expand-lg navbar-light" style="height: 12%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="/experiences">Experiences</a>
                    <a class="nav-item nav-link " href="/achievements">Achievements</a>
                    <a class="nav-item nav-link active" href="/contact">Contact<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/appointment">Appointment</a>
                    <a class="navbar-brand" href="/landing">
                        <img class="logo2" src="{% static 'images/logo.png' %}">
                    </a>
                </div>
            </div>
        </nav>
        <div class="kotak2">
                <h2> YOUR TURN </h2>
                <P style="padding-left: 0; margin: 0"> Let's get in touch.</P>
           </div>
           
           <div class="card" style="margin-top:2%">
                <div class="card-body" style="margin: 0%">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <img class="socmed" src="{% static 'images/instagram.png' %}">
                                </div>
                                <div class="col-3">   
                                    <p>@alviadibby </p>
                                </div>
                                <div class="col-3">
                                    <img class="socmed" src="{% static 'images/linkedin.png' %}">
                                </div>
                                <div class="col-3">
                                    <p >linkedin.com/in/alvia-dibby</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <img class="socmed" src="{% static 'images/whatsapp.png' %}">
                                </div>
                                <div class="col-3">
                                    <p>+6287881706618</p>
                                </div>
                                <div class="col-3">
                                    <img class="socmed" src="{% static 'images/line.png' %}">
                                </div>
                                <div class="col-3">
                                    <p>alviadibby</p>
                                </div>
                            </div>
                          </div>
            
                     </div>
            </div>
    </div>
</body>
</html>