{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb - Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
</head>
<body>
    <div class="square">
        <nav class="navbar navbar-expand-lg navbar-light" style="height: 12%">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link" href="/experiences">Experiences</a>
                    <a class="nav-item nav-link active" href="/achievements">Achievements<span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <a class="nav-item nav-link" href="/appointment">Appointment</a>
                    <a class="navbar-brand" href="/landing">
                        <img class="logo2" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </nav>
        <div class="kotak2">
                <h2> ACHIEVEMENTS </h2>
           </div>
           <div class="card" style="width: 55%">
                <div class="card-body">
                        <h6>1st Place in a city level choir competition</h6>
                            <p>2018 - now</p>
                        <h6><br>Public Relations of Padusmansasi</h6>
                            <p>2016 - 2017</p>
                        <h6><br>Public Relations of Paskibra (Flag Raiser)</h6>
                            <p>2015 - 2017</p>
                </div>
            </div>
            <img class="asset2" src="{% static 'images/trophy.png' %}">
    
    </div>
</body>
</html>