{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb - Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
</head>
<body>
    <div class="square2">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="/profile">Profile</a>
                    <a class="nav-item nav-link active" href="/experiences">Experiences <span class="sr-only">(current)</span></a>
                    <a class="nav-item nav-link" href="/achievements">Achievements</a>
                    <a class="nav-item nav-link" href="/contact">Contact</a>
                    <a class="nav-item nav-link" href="/appointment">Appointment</a>
                    <a class="navbar-brand" href="/landing">
                        <img class="logo2" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </nav>
        <div class="kotak2">
             <h2> EXPERIENCES</h2>
             <h4> <br> Organizational </h4>
        </div>
        <div class="card" style="width: 60%">
            <div class="card-body">
                    <h6>Executive Council of Student
                        <br>(BEM Fakultas Ilmu Komputer, UI)
                        <br> Public Relations</h6>
                        <p>2018 - now</p>
                    <h6><br>Public Relations of Padusmansasi</h6>
                        <p>2016 - 2017</p>
                    <h6><br>Public Relations of Paskibra (Flag Raiser)</h6>
                        <p>2015 - 2017</p>
                    <h6><br>Active staff Student Council, Art section</h6>
                        <p>2013 - 2014</p>
                   
            </div>
        </div>
        <img class="asset" src="{% static 'images/asset.png' %}">

        <div class="kotak2">
                <h4> <br> Committee </h4>
        </div>
        <div class="card">
                <div class="card-body">
                        <div class="container">
                                <div class="row">
                                  <div class="col">
                                        <h6>Meranoia Festival, Liaison Officer</h6>
                                                <p>A music festival held in Istora</p>
                                                <p>2019</p>
                                        <h6><br>COMPFEST, Vice PIC of Visual Design</h6>
                                                <p>The biggest IT event held by students</p>
                                                <p>2019</p>
                                        <h6><br>Universiade, Publication</h6>
                                                <p>UI's external sport competition</p>
                                                <p>2018</p>         
                                  </div>
                                  <div class="col">
                                        <h6>LBB7, Documentation</h6>
                                        <p>SMAN 1 Kota Bekasi's flag raising competition</p>
                                        <p>2017</p>
                                <h6><br>OASIS 10, Publication</h6>
                                        <p>SMAN 1 Kota Bekasi's music festival</p>
                                        <p>2017</p>
                                <h6><br>OASIS 10, Publication</h6>
                                        <p>SMAN 1 Kota Bekasi's music festival</p>
                                        <p>2016</p>    
                                  </div>
                                </div>
                          </div>
                </div>
        </div>


           

    
</body>
</html>