{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
    
</head>
<body>
  
       
    <div class="square">
            <div class="navbar-home">
              <img class="logo" src="{% static 'images/logo.png' %}">
            </div>
            
            <div class="container">
              <div class="row">
                <div class="col-md-6">
                    <div class="title">
                        Hello,
                    </div>
                    <div class="greeting">
                      I am Dibby.
                    </div>
                   <a href="/profile"class="button">
                       Get to know me
                  </a>
                </div>
                  <div class="col-md-6">
                    <img class="fotoku" src="{% static 'images/fotoku.png' %}">
                  </div>
            <!-- <a class="btn btn-primary" href="page2.html" role="button">Link</a>
            <button class="btn btn-primary" type="submit">
                Get to know me
            </button> -->
            </div>

     </div>

    
</body>
</html>