{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>imDb - Profile</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/story3.css' %}">
</head>
<body>
    <div class="square2">
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <ul class="navbar-nav mr-auto">
                        <a class="nav-item nav-link active" href="/profile">Profile <span class="sr-only">(current)</span></a>
                        <a class="nav-item nav-link" href="/experiences">Experiences</a>
                        <a class="nav-item nav-link" href="/achievements">Achievements</a>
                        <a class="nav-item nav-link" href="/contact">Contact</a>
                        <a class="nav-item nav-link" href="/appointment">Appointment</a>
                    </ul>
                    <a class="navbar-brand" href="/landing">
                        <img style="align-items: flex-end" class="logo2" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
            </div>
        </nav>
        <div class="card">
            <div class="card-body">
                    <div class="container">
                            <div class="row">
                              <div class="col">
                                    <h1 class="card-title">Hello!</h1>
                                    <h6 class="card-subtitle mb-2 text-muted">my name is Alvia Dibby Shadqah</h6>
                                    <p class="card-text">I’m currently a student in University of Indonesia, majoring information systems. I am a person who easily socializes so that I am able to work well in a team or individually. In doing an assignment, I am responsible for my work. I can accept criticism and have the will to learn.

                                    <br><br> Oh, and I <strong> design</strong> a lot.</p>
                              </div>
                              <div class="col">
                                <img class="fotoku2" src="{% static 'images/fotoku2.png' %}">
                              </div>
                        </div>
                     </div>
            </div>
        </div>

        <div class="c-bottom">
            <div class="container">
                    <div class="row">
                    <div class="col">
                       <h3>SKILLS</h3>
                            <div class="card">
                                    <div class="card-body">
                                            <h6> English (TOEFL ITP: 570) </h6>
                                            <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 80%; background-color: #FABF3F" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6> Graphic Design</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 85%; background-color: #3E31A9" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6> User Interface</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 70%; background-color: #4DB542" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6> Python</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 50%; background-color: #F74C5F" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                                  <h6> Java</h6>
                                                  <div class="progress">
                                                    <div class="progress-bar" role="progressbar" style="width: 55%;  background-color: #F48830" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                                                  </div>
                                    </div>
                                </div>
                    </div>
                    <div class="col">
                        <h3> EDUCATION</h3>
                            <div class="card">
                                    <div class="card-body">
                                        <h6>Universitas Indonesia</h6>
                                        <p>Information Systems</p>
                                            <p>2018 - now</p>
                                        <h6><br>SMAN 1 Kota Bekasi</h6>
                                            <p>2015 - 2018</p>
                                        <h6><br>SMP Labschool Cibubur</h6>
                                            <p>2012 - 2015</p>
                                        <h6><br>Sekolah Victory Plus</h6>
                                            <p>2006 - 2012</p>
                                        </div>
                                    </div>
                                </div>
                    </div>
            </div>
        </div>
    </div>
    
</body>
</html>