@import url('https://fonts.googleapis.com/css?family=Roboto:500,500i,700,900&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background: url("/static/images/bg.png");
    background-size: cover;  /*bikin jadi pas sama layar*/
    /* height: 100vh; */
    height: 150%;
    width: 100vw;
}

.square{
    width: 80%;
    height: 80%;
    background-color: #F6F2ED;
    box-shadow: 0px 3px 40px rgba(0,0,0,.15);
    border-radius: 25px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.navbar-home{
    width: 100%;
    height: 12%;
    top: 50%;
    left: 50%;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}


img{
    max-width: 100%;

}

.logo{
    margin-top: 1%;
    margin-bottom: 1%;
    width: auto;
    height: 70%;
    object-fit: cover;
    margin-right: 5%;
    margin-left: 5%; 
    float: right;
}

.container{
    max-width: 100%;
    height: 100%;
    padding: 8%;
}

.fotoku{
width: 100%;
height: auto;
float: right;
/* display: inline-block;
vertical-align: middle; */
margin: auto;
}

.title{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 10vw;
    letter-spacing: 1vw;
    top: 15%;
    position: absolute;
    margin: 0.5%;
}

.greeting{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 3vw;
    letter-spacing: 1.5vw;
    top: 45%;
    position: absolute;
}
.button {
    color: #fff;
    border-radius: 8px;
    background-color:#F74C5F;
    opacity: 0.8;
    border: 0;
    top: 65%;
    font-size: 1.5vw;
    /* transform: translate(-210%, 680%); */
    position: absolute;
    padding: 1.5%;
}

.button:hover {
    color: #fff;
    background-color: #F42037;

}

.square2{
    width: 80%;
    height: 240%;
    background-color: #F6F2ED;
    box-shadow: 0px 3px 40px rgba(0,0,0,.15);
    border-radius: 25px;
    margin-bottom: 5%;
    left: 50%;
    transform: translate(-50%, 5%);
    position: absolute;
}

.navbar{
    width: 100%;
    height: 4%;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 0;
    padding-bottom:0;
}

.collapse{
    width: 100%;
    height: 100%;

}

.navbar-nav{
    width: 100%;
    height: 100%;
    padding-right: 0;
}

.nav-item{
    margin-left: 2%;
    margin-right: 1%;
    text-align: center;
    width: auto;
    height: 100%;
    padding: 0%;
    padding-top: 3%;
}

.navbar-brand{
    margin-left: 23%; 
    max-height: 80%;
    padding: 0;
    right: 0;
    top: 0;
    margin-right: 0;
    float: right;

}

.logo2{
    width: auto;
    height: 100%;
    object-fit: cover;

    padding-top: 5%;
    padding-left:0%;
}

.card{
    width: 90%;
    height: auto;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0px 2px 25px rgba(0,0,0,.08);

}

.card-body{
    width: 100%;
    height: 100%;
    margin-top: 2.5%;
}

.card-text{
    text-align: justify;
    text-justify: inter-word;
    padding-left:0;
}

.container{
    padding: 2%;
}

.row{
    width: 100%;
    height: 100%;
    margin: 0;
}

.col{
    width: 100%;
    height: 100%;
}


.fotoku2{
    border-radius: 50%;
    object-fit: cover;
    width: auto;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.c-bottom{
    height: 50%;
}

h1{
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 1vw;
    padding-left: 2%;
}

h2{
    font-weight: 900;
    font-size: 3rem;
    letter-spacing: 0.5vw;

}

h3{
    font-weight: 900;
    margin: 5%;
}

h4{
    font-weight: 900;
    font-size: 1.5rem;
    letter-spacing: 0.15vw;
}


h6{
    font-weight: 700;
    padding-left: 2%;
}

p{
    margin: 2%;
    padding-left: 3%;
}

.progress{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 2%;
    height: 1.5rem;
    border-radius: 0;
}

.kotak2{
    margin-left: 5%;
    margin-top: 5%;
}

.asset{
    width: 35%;
    height: auto;
    position: absolute;
    transform: translate(130%, -100%);
}

.asset2{
    width: 20%;
    height: auto;
    position: absolute;
    transform: translate(250%, -130%);
}

.socmedbar{
    width: 30%;
    height:auto;
    margin-left: 10%;
}

.socmed{
    float: left;
    max-width: 50%;
    padding: 0;
    margin: 5%;
}
